<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <script src="static/dynamicform.js"></script>
</head>


<body onload="">
    <!--script>initialize();</script-->

    <form class="pure-form pure-form-aligned">
        <fieldset>


            {% for key, cfg in mappings.items() %}
                <div class="pure-control-group">
                    <label for="aligned-name">Id {{key}}</label>
                    {% if cfg == 'unknown' %}
                    <input type="text" id="aligned-name" placeholder="name" />
                    {% else %}
                    <input id='in_text_{{key}}' type="text" id="aligned-name" placeholder="name" readonly = "readonly" value="{{cfg.name}}"/>
                    <button id='button_{{key}}' type="button" class="pure-button pure-button-primary" onclick='make_editable({{key}})'>change</button>                
                    {% endif %}
                </div>
            {% endfor %}

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>



</body>
</html>